*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.sidebar img{

}

.sidebar img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}